
.navbar{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    box-shadow: 0 1px 3px -2px black;
    background-color: #F2F2F2;
    z-index: 1000;
}

.nav-logo{

    /*gap: 10px;*/


    /*flex: 1;  Asigna espacio flexible al logo para que no empuje otros elementos */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el logo hacia el inicio del contenedor */
    
}

.nav-logo img {
    width: 40px; /* Nuevo tamaño del logo */
    height: auto; /* Mantiene la relación de aspecto */
}

.nav-logo p {
    background: -webkit-linear-gradient(#01D6F6, #009BFC); /* Para navegadores basados en WebKit */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Específico para WebKit */

    /* Para navegadores que no son WebKit (alternativa más compatible) */
    background: linear-gradient(#01D6F6, #009BFC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Esto hace que el texto sea transparente para mostrar el fondo */

    font-family: "Orbitron";
    font-size: 20px;
    font-weight: 1000;
}
.nav-menu{

    flex: 2; /* Permite que el menú ocupe más espacio si es necesario */
    display: flex;
    justify-content: center; /* Centra el menú en el espacio asignado */
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    gap: 40px;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;

}
.nav-menu a {
    text-decoration: none; /* Elimina el subrayado */
    color: #404040; /* Cambia el color del texto, usa el color que prefieras */
  }
  
.nav-menu a:hover {
color: #707070; /* Color al pasar el mouse por encima, ajusta según necesites */
}

.nav-menu li{
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 2px;
    border-radius: 8px;
    background: #626262;
}

.nav-agendar-cita{
   /* flex: 1; /* Igual espacio flexible como el logo */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el botón hacia el final del contenedor */

}
.nav-agendar-cita button{
    width: 150px;
    height: 28px;
    outline: none;
    border: 1px solid #009BFC;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    background: #009BFC;
    cursor: pointer;
    box-shadow: 0px 4px 4px #8890917c;
}

.nav-agendar-cita button:hover{
    transform: scale(1.07);
}

.nav-agendar-cita button:active{
    background-color: #FFFFFF;
    color: #009BFC;
    border: 1px solid #009BFC;

}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Posiciona el dropdown justo debajo del elemento "Más" */
    left: 50%;
    transform: translateX(-50%); /* Centra el dropdown */
    background-color: white; /* Fondo blanco para el recuadro */
    border: 1px solid #ccc; /* Borde del recuadro */
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); /* Sombra opcional */
    z-index: 1; /* Asegura que el dropdown se muestre por encima de otros contenidos */
  }
  
.dropdown-menu li {
    text-align: center; /* Asegura que el texto esté centrado dentro de cada elemento del dropdown */
    white-space: nowrap; /* Evita que el texto se envuelva en múltiples líneas */
  }

