.carousel-wrapper {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  
  .carousel-content img {
    width: 30%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  