.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    margin-bottom: 20px;
  }

  .servicios h2 {
    color: #333333;
    font-size: 40px;
    font-weight: 700;
  }
  
  .servicio {
    display: flex;
    flex-direction: row; /* Asegúrate de que sea 'row' para la alineación horizontal */
    align-items: flex-start; /* Alinea elementos al inicio */
    margin-bottom: 20px;
    justify-content: center; /* Esto centrará verticalmente el texto junto a la imagen */
    width: 110vh;
  }
  
  .servicio-imagen img {
    width: 50vh; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantén la proporción de aspecto */
    border-radius: 10%;
    margin-right: 40px; /* Agrega margen para separar la imagen del texto */
  }

  .servicio-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
  }

  .servicio h3 {
    font-size: 1.5em;
  }
  
  .servicio p {
    font-size: 1em;
    color: #707070;
  }
  
  .leer-mas {
    width: 100px;
    height: 35px;
    outline: none;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: #222222;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(136, 144, 145, 0.48);
  }
  
  .leer-mas:hover {
    transform: scale(1.07);
  }
  
  .leer-mas:active {
    background-color: #FFFFFF;
    color: #222222;
    border: 1px solid #222222;
  }
  
  /* Ajustes responsivos si lo requieres */
  @media (max-width: 768px) {
    .servicio {
      flex-direction: column;
      align-items: center; /* Center items on small screens */
    }

    .servicio-imagen img {
      width: 80%; /* Adjust the width on small screens */
    }

    .servicio-info {
      align-items: center; /* Center text on small screens */
    }
  }
  